body {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
}
h1  {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.headerbackground {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.links {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.titles {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.secondhead {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
footer {
  text-align: left;
  color: white;
  font-family: Helvetica;
  font-size: 11px;
  background-color: dimgray;
}
#process {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: black;
}
a {
  color:white;
}
.bottom {
  font-family: Helvetica;
  color: white;
  font-size: 15px;
}
